@import "../general/styles/colors.scss";

.content-container {
    background-color: $black;
    padding: 10px 35px 0;

    .sort-label {
        color: $light-grey;
    }

    .films-count-container {
        padding: 25px 0;

        .count-container {
            width: 100%;
            padding-bottom: 25px;
            font-size: 15px;

            .films-container {
                font-weight: 600;
            }
        }

        .film-container {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(auto-fit, 220px);
            justify-content: space-between;
        }

        .not-found-film-container {
            height: 220px;
            line-height: 220px;
            text-align: center;
            font-size: 20px;
        }
    }
}
