@import "../styles/colors.scss";

.tabs-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid $dark-grey;
    text-transform: uppercase;
    padding: 15px 0;

    .tabs-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .tab {
            margin: 0 20px -17px 0;
            cursor: pointer;
            user-select: none;

            &.Active {
                border-bottom: 2px solid $red;
            }
        }
    }

    .right-side {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        > * {
            margin-left: 10px;
        }
    }
}
