.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-basis: 935px;

    .container-header {
        margin-bottom: 5px;
        height: 300px;
    }

    .container-header,
    .container-footer {
        flex-shrink: 0;
        width: 100%;
    }

    .container-main {
        width: 100%;
    }
}
